.ycm_extra_conf.pyc
*.swp
*.deps
*.la
*.lo
*.o
*.libs
*~
Makefile.in
Makefile
aclocal.m4
ar-lib
autom4te.cache/
compile
config/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
